<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profile</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body>
    <div class="container">
        <h2>Your Profile</h2>

        <h4>Name of the user: {{ username }}</h4>

        <h4>Your Playlists:</h4>
        <ul class="list-group">
            {% for playlist in playlists %}
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    {{ playlist.name }}
                    <a href="{{ url_for('view_playlist', playlist_id=playlist.id) }}" class="btn btn-info">View Songs</a>
                </li>
            {% endfor %}
        </ul>

        <a href="{{ url_for('login_validation') }}" class="btn btn-primary mt-3">Back</a>
    </div>
</body>

</html>
