<!-- Inside usersearch.html -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Search</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body>
    <div class="container">
        <h2>User Search</h2>

        <form method="GET" action="/search-for-songs">
            <div class="form-group">
                <label for="search_query">Search for Songs</label>
                <input type="text" class="form-control" id="search_query" name="search_query" placeholder="Enter song name">
            </div>
            <button type="submit" class="btn btn-primary">Search</button>
        </form>

        <!-- Search Songs by Ratings -->
        <form method="GET" action="/search-by-ratings">
            <div class="form-group">
                <label for="rating_query">Search Songs by Ratings</label>
                <input type="number" class="form-control" id="rating_query" name="rating_query" placeholder="Enter rating">
            </div>
            <button type="submit" class="btn btn-success">Search</button>
        </form>

        <!-- Search Songs by Genre -->
        <form method="GET" action="/search-by-genre">
            <div class="form-group">
                <label for="genre_query">Search Songs by Genre</label>
                <input type="text" class="form-control" id="genre_query" name="genre_query" placeholder="Enter genre">
            </div>
            <button type="submit" class="btn btn-info">Search</button>
        </form>

        <form method="GET" action="/search-for-albums"> 
            <div class="form-group">
                <label for="search_query">Search for Albums</label>
                <input type="text" class="form-control" id="search_query" name="search_query" placeholder="Enter album name">
            </div>
            <button type="submit" class="btn btn-primary">Search</button>
        </form>

        <div class="search-results">
            <ul>
                {% for result in search_results %}
                    <li>
                        <strong>{{ result.name }}</strong> by {{ result.artists[0].name }}
                    </li>
                {% endfor %}
            </ul>
        </div>

        <a href="{{ url_for('login_validation') }}" class="btn btn-secondary">Back</a>
    </div>
</body>

</html>
