<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Playlist</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body>
    <div class="container">
        <h2>{{ playlist.name }}</h2>

        <ul class="list-group">
            {% for song in songs %}
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    {{ song.name }} by {{ song.singer_name }}
                    <form method="POST" action="{{ url_for('delete_song_from_playlist', playlist_id=playlist.id, song_id=song.id) }}">
                        <button type="submit" class="btn btn-danger">Delete Song</button>
                    </form>
                </li>
            {% endfor %}
        </ul>

        <hr>

        <form method="POST" action="{{ url_for('delete_playlist', playlist_id=playlist.id) }}">
            <button type="submit" class="btn btn-danger">Delete Playlist</button>
        </form>
    </div>
</body>

</html>
